<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger]"/>

    <node name="transform_listener" pkg="pathplanningmqp" type="transform_listener.py" output="screen" />
    <node name="lqr_controller" pkg="pathplanningmqp" type="FBI_LQR_FDI_simulation.py" output="screen" />

    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    </include>


</launch>
