<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger]"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <param name="tb3_model" value="$(arg model)"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>


    <node name="transform_listener" pkg="pathplanningmqp" type="transform_listener.py" output="screen" />
    <node name="lqr_controller" pkg="pathplanningmqp" type="FBI_LQR_FDI_simulation.py" output="screen" />

    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
      <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
    </include>


</launch>
